*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    background-color: #eae6e1;
}

nav {
    background-color: #f5f5f5;
    padding: 65px 0;
    font-weight: bold;
    word-spacing: 13px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(245, 245, 245, 0.9);
    backdrop-filter: blur(10px);
}

.right {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 24px;
}

.right a {
    color: #000;
    text-decoration: none;
}

.right a:hover {
    color: #fff;
}

.middle{
    position: absolute;
    left: 50%;
    top: 9px;
    transform: translateX(-50%);
}

.middle, .img {
    width: 100px;
    height: 100px;
}

.left {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 24px;
}

.left a {
    color: #000;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

#open-section {
    min-height: 100vh;
    padding-top: 100px;
}

.logo {
    width: auto;
    max-width: 100px;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 0;
}

.profile-img {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 10px;
}

.wrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin: 110px 240px;
}

.profilepicture {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.intro {
    font-family: 'Migra', serif;
    flex: 1;
    margin-top: -100px;
    font-size: 20px;
}

.intro p {
    font-family: 'Arapey', serif;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 550;
    line-height: 1.1;
}

#books {
    background-color: #eae6e1;
    min-height: 100vh;
    padding-top: 200px;
}

.bookwrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin: auto 240px;
}

.bookpicture {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.book-img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #000);
}

.bookwrapper h3 {
    font-family: 'Migra', serif;
    font-size: 40px;
    font-weight: 600;
    margin: 50px 0;
}

.bio {
    font-family: 'Migra', serif;
    flex: 1;
    margin-top: -100px;
    font-size: 21px;
}

.bold-text {
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: -100px;
    margin-left: 390px;
}

.buttons button{
    background-color: #c7514d;
    color: white;
    border: none;
    padding: 25px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: #a43f3a;
}

.buttons2 {
    display: flex;
    gap: 10px;
    margin-top: -400px;
    margin-left: 390px;
}

.buttons2 button{
    background-color: #c7514d;
    color: white;
    border: none;
    padding: 25px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

#about {
    background-color: #eae6e1;
    min-height: 90vh;
    padding-top: 175px;
}

.aboutwrapper {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin: auto 240px;
}

.aboutpicture {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 10px;
}

.abouttext {
    flex: 1;
    margin-top: -100px;
    font-size: 22px;
}

.aboutintro {
    font-family: 'Migra', serif;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 550;
    line-height: 1.1;
    font-weight: bolder;
}

#favorites {
    background-color: #eae6e1;
    min-height: 95vh;
    padding-top: 205px;
}

.favoritewrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin: auto 240px;
}

.favoritepicture {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.favorite-img {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 150px;
    border-radius: 10px;
}

.favoritedetails {
    font-family: 'Migra', serif;
    flex: 1;
    font-size: 22px;
    font-weight: bold;
    margin-left: 45%;
    margin-top: -22%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

summary {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

details summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details {
    border-bottom: 1px solid #000000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    max-width: 70%;
    position: relative;
}

details ul {
    margin-left: 20px;
    font-weight: 500;
    line-height: 2;
}

details ul li {
    font-size: 20px;
}

/* @media (max-width: 768px) {
    nav {
        padding: 20px 0;
        font-size: 18px;
        word-spacing: 5px;
    }

    .right {
        right: 20px;
        top: 20px;
        font-size: 18px;
    }

    .middle {
        top: 20px;
        width: 50px;
        height: 50px;
    }

    .left {
        left: 20px;
        top: 20px;
        font-size: 18px;
    }

    .wrapper, .bookwrapper, .aboutwrapper, .favoritewrapper {
        margin: 20px;
        gap: 2rem;
    }

    .buttons, .buttons2 {
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        padding: 10px 0;
    }

    .profilepicture, .bookpicture, .aboutpicture, .favoritepicture {
        flex-direction: column;
        align-items: flex-start;
    }

    .intro, .bio, .abouttext, .favoritedetails {
        margin-top: 0;
    }
} */

.footer {
    background-color: #f5f5f5;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    height: 60px;
    position: absolute;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: 0 5px;
}

.footer a:hover {
    color: #ccc;
}